{% extends 'diaries/diary_main.html' %}
{#{% block cus-title %}#}
{#    全部日记#}
{#{% endblock %}#}
{##}
{#{% block diarie_main %}#}
{#    <!-- 所有公开的日记条目-->#}
{#    {% if diaries %}#}
{#        {% for diary in diaries  %}#}
{#            {% include 'diaries/diary_box.html' %}#}
{#        {% endfor %}#}
{#    {% endif %}#}
{#{% endblock %}#}
{##}
{#{% block diary-right-list %}#}
{#    {% for diary in diaries_list  %}#}
{#        {% include 'diaries/diary_right.html' %}#}
{#    {% endfor %}#}
{#{% endblock %}#}