{% extends 'diaries/diaries_base.html' %}
{% block cus-title %}
    所有日记
{% endblock %}

{% block diarie_min %}
    <!-- 所有公开的日记条目-->
    <p> 日记缩略</p>
    <p> 日记缩略</p>
    <p> 日记缩略</p>
    <p> 日记缩略</p>
    <p> 日记缩略</p>

{% endblock %}


{% block dry-right %}
    <!--右侧是所有日记排版,可以放入标签-->
    <button type="button" class="btn btn-primary" style="background-color:gray">
{#        {% for %}}#}
{#            <span class="glyphicon glyphicon-sort-by-order">#}
{#            </span>#}
{#        {% endfor %}#}
                <span class="glyphicon ">
                    this
                </span>
    </button>

{% endblock %}
