<div class="page-box col-xs-12 dry_text" >
    {% with diary.user as user %}
    <span style="float:right;padding-left:5px";></span>
        <br><small>写作时间{{ diary.create_date }}</small>
    <div class="col-xs-12">
        <div>
                {{ diary.diary_text }}
        </div>
        <div>
            {% if pub_like  %}
                {% for like in pub_like %}
                  <button type="button" class="btn btn-primary btn-sm like" >
                     <span class="glyphicon glyphicon-star">{{ like }}</span>
                 </button>
                {% endfor %}
            {% endif %}

            {% if per_like  %}
                {% for like in per_like%}
                    <button type="button" class="btn btn-primary btn-sm like" style="margin: 2%" >
                        <span class="glyphicon glyphicon-star">{{ like }}</span>
                    </button>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endwith %}
</div>
