<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <!-- bootstrap 加载在nav中-->
</head>
<body id="diary">
    <div id="particles">
        <div id="intro">
            <!-- 导航栏 -->
            {% include "./diaries/nav.html"%}
{#            <a href="{% url 'login' %}">saaaaaaaaaaaaaaaaaaaaaaaaaa</a>#}
            <!-- 文章列表 与 侧边的东西 -->
            <div id="dry-main" >
                <div id="dry-content" class="container" >
                    {%block main%} {% endblock %}
                </div>
                <footer class="highslide-footer navbar-fixed-bottom">
                   <div class="container ">
                       <p class="text-center">ZWC 的日记小站</p>
                   </div>
                </footer>
            </div>
        </div>
    </div>
</body>
    <!-- 加载css -->

</html>