<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
   function check(){
        var name = document.getElementById("name").value;
        if(name ==  null || name == ''){
         alert("用户名不能为空");
         return false;
        }
        return true;
   }
   function checkaaa() {
       var name = document.getElementById("name").value;
       if(1==1){
           alert("sfasdf")
           return false;
       }
       return true;
   }
</script>
<body>
<form  name="form"  action="www.baidu.com" method="post" onsubmit="return checkaaa()">
    <input type="text" name="p1"/>
    <input type="text" name="p2"/>
    <input type="submit" value="测试提交"/>
</form>


<form name="form"  action="www.baidu.com" method="post"  onsubmit="return check()">
   <input type="text" id="name"/>
   <input type="submit" value="提交"/>
</form>
</body>



